h.title1{font-size: 10px;
position: relative;
left:650px;
top:-40px
}
h.title2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 130px;
position: relative;
top: 70px;
margin: 0px;
padding: 0px;
width: 20px;}
h3.self{
    font-size: 26px;
    transform: rotate(90deg);
    position: relative;
    left: 350px;
    top:340px;
    border-bottom:solid;
    margin: 0px;
    padding: 0px;
    width: 250px;
}
div.hobby{
    line-height: 20px;
    font-size: 15px;
    margin: 0px;
    position: relative;
    left: 650px;
    top: 200px;
    padding: 0px;
    width: 200px;
}
div.born{
    font-size: 20px;
    line-height: 2px;
    position: relative;
    left: 970px;
    top: 60px;
    margin: 0px;
    padding: 0px;
    width: 550px;
}
div.first{
    font-size: 20px;
    line-height: 3px;;
    position: relative;
left: 970px;
top: 77px;
margin: 0px;
padding: 0px;
width: 600px;
}
.ss{
    margin-bottom: 2em;
}
div.advan{
position: relative;
left: 500px;
top: 500px;
line-height: 5px;
margin: 0px;
padding: 0px;
width: 600px;}
p.ad{font-size: 50px;}
div.chall{
    text-shadow: 1px 2px 3px #080808;
    color: cornsilk;
    position: relative; 
    left: 200px;
    top: 600px;
    margin: 0px;
    padding: 0px;
    width: 180px;
}
div.cen{
    text-shadow: 1px 2px 3px #080808;
    color: cornsilk;
    position: relative;
    left: 710px;
    top: 400px;
    margin: 0px;
    padding: 0px;
    width: 180px;
}
div.ser{
    text-shadow: 1px 2px 3px #080808;
    color: cornsilk;
    position: relative;
    left: 1220px;
    top: 200px;
    margin: 0px;
    padding: 0px;
    width: 180px;
}
div.my{
    position: relative;
    left: 680px;
    top: 100px;
    margin: 0px;
    padding: 0px;
    width: 300px;
}
div.wa{
    font-size: 80px;
    position: relative;
    left: 300px;
    top: 500px;
    margin: 0px;
    padding: 0px;
    width: 300px;
}
}